.tech {
  ol {
    margin-top: 32px;
  }
  li {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  a {
    width: 100%;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #000100;
    letter-spacing: 0.03em;
    padding: 20px 0;
  }
}

.login__form-field-check--mod {
  margin-top: 19px;

  .check-form__square {
    margin-right: 10px;
  }
  .check-form__wrap {
    margin-bottom: 12px;
  }
}

.basket__sum-promo--mod {
  margin-top: 19px;
  margin-bottom: 18px !important;
  max-width: 100%;
  width: 100%;

  .basket__label {
    width: 100%;
    max-width: 100%;
  }
}

.check-form__text--mod {
  span {
    display: block;
    line-height: 1;
    font-weight: 400;
    font-size: 14px;
    color: #585958;
    letter-spacing: 0.03em;

    b {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0.03em;
      color: #000100;
    }
    &.small {
      font-size: 12px;

      b {
        font-size: 12px;
      }
    }
    &:not(:last-of-type) {
      margin-bottom: 4px;
    }
  }
}

.basket__sum-top--mod {
  padding-bottom: 13px !important;
}

.basket__sum-promo--mod .basket__input--mod {
  height: 40px;
  padding: 10px 15px;
}

.basket__field-button-new {
  height: 40px;
  width: 40px;
  background-color: #b1191e;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;

  svg {
    flex-shrink: 0;
    position: absolute;
    pointer-events: none;
    width: 10px;
    height: 20px;
  }
}

.basket__sum-promo-field--mod {
  position: relative;

  .basket__field-button-new {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
  }
}

.basket__sum-block--mod {
  padding-bottom: 30px !important;
}

.basket__field--mod {
  height: 40px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.custon-summ-area {
  &.error {
    border: 1px solid #b1191e;
  }
}

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #bdc3c7;
  width: 100%;
  max-width: 100%;
  height: 2px;
  border-radius: 0;
  margin: 0 auto;
  outline: 0;
  margin-top: 24px;
  margin-bottom: 24px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #b1191e;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
​ input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #b1191e;
  border: 2px solid #b1191e;
}
input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.1);
  background-color: #b1191e;
  border: 2px solid #b1191e;
}

// .basket__summ-slider {
//   margin-top: 24px;
// }

.custom-text-under-slider {
  margin: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 130%;

  letter-spacing: 0.03em;
  color: #585958;
}

.basket__label--small {
  max-width: 100px;
  margin-top: 12px;
}

.basket__sum-block--mod {
  max-width: 315px;
  width: 100%;
  min-width: initial !important;
}

.agree-spend-bonuses-content {
  display: none;
}

.custom-submit-button {
  background: #b1191e;
  border-radius: 2px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 24px;
  height: 40px;
  transition: all 0.3s;
  &:hover,
  &:focus,
  &:active {
    background-color: rgba(177, 25, 30, 0.5);
  }
}

.login__form-fieldset--bottom {
  .custom-submit-button {
    margin-left: auto;
    max-width: max-content;
    display: block;
  }
}

.login__form-title--mod {
  margin: 0;
  margin-bottom: 20px;
}

.login__form-subtitle {
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #000100;
  margin: 0;
  margin-bottom: 14px;
  opacity: 0.6;
}

.basket__input {
  font-weight: 400;
}

.catalog__header-title {
  font-family: "Tenor Sans";
}

@media (max-width: 990px) {
  .basket__sum-promo--mod {
    .basket__label {
      width: 100%;
      max-width: max-content;
    }
  }

  .basket__sum-block--mod {
    max-width: initial;
    width: initial;

    // .basket__sum-row {
    //   justify-content: flex-start;
    // }
  }
}

// Облако тегов
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    &:before {
      display: none;
    }
  }
}

.custom-tags {
  margin-bottom: 32px;

  &__list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
  }
  &__item {
    flex-shrink: 0;
  }
  &__link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000100;
    background: #ececec;
    border-radius: 2px;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    position: relative;
    transition: all 0.3s;

    svg {
      position: absolute;
      path {
        transition: all 0.3s;
      }
    }

    &:hover,
    &:focus,
    &:active {
    text-decoration: none;
    color: #ffffff;
    background-color: #b1191e;

    svg {
      path {
        stroke: #ffffff
      }
    }
    }
  }
}

.custom-tags--desktop {
  &:first-of-type a {
    margin-left: 32px;
  }
  &:last-of-type a {
    margin-right: 32px;
  }
}

.custom-tags--mobile {
  display: none;
}
.custom-tags--footer {
  margin-top: 32px;
  .custom-tags__list {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

@media (max-width: 720px) {
  .custom-tags {
    &--desktop {
      display: none;
    }

    &--mobile {
      display: block;

      .custom-tags__list {
        justify-content: flex-start;
        flex-wrap: nowrap;
        margin: 0 auto;
        overflow: scroll;
        // padding: 0 15px;
      }
      .custom-tags__item:first-of-type a {
        margin-left: 0;
      }
      .custom-tags__item:last-of-type a {
        margin-right: 0;
      }
    }
  }
}
